/* ===== BASE ===== */

body {
  font-family: "Inter", sans-serif;
  background: #ccc;
  margin: 0;
  color: #333;
}

main {
  padding: 20px;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.5s, box-shadow 0.5s;
}

select:focus,
input:focus {
  border-color: #0D2033;
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}